
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_property %}
        Add Property
    {% else %}
        Edit Property
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_property %}
                <h1>Add Property</h1>
            {% else %}
                <h1>Edit Property</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
            <input type="button" value="Back" onclick="window.history.back()" />

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
