

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Property{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Property</h1>
        {% if property %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%">id</th>
                  <th width="40%"> Name </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for pro in property %}
                <tr>
                  <td> {{ pro.id }} </td>
                  <td> {{ pro.name }} </td>

                  <td>
                    <a href="{{ url_for('admin.edit_property', id=pro.id) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_property', id=pro.id) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No Property have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_property') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Property
          </a>
          <input type="button" class="btn btn-default btn-lg" value="Back" onclick="window.history.back()" />

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
