<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | Project Dream Team</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
        {% if current_user.is_admin %}
        <li><a href="{{ url_for('home.admin_dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('admin.list_company') }}" > Companies List</a></li>
        <li><a href="{{ url_for('admin.list_property') }}">Property List</a></li>
        {% else %}
        <li><a href="{{ url_for('home.dashboard') }}">Dashboard</a></li>
        {% endif %}
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        <li><a><i class="fa fa-user"></i>  Hi, {{ current_user.first_name }}  !</a></li>
      {% else %}
        <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
</body>
